{{template "header"}}

<body>
<div>
    <div>

            <div class="jumbotron">
                    <h1 class="display-3">Welcome!</h1>
                    <p class="lead">All Documentation for configuring computers can be found at this link <a class="link" href="">Configuration Documentation</a></p>
                    <hr class="my-4">
                    <p>Select the Image that you would like to download for the machine that you are configuring. </p>
                    <p class="lead">
                    <form method="POST">
                        <option>Type Lighting, Checkin, Protools, Propresenter, Usermac, or Smaart</option>
                        <input type="text" name="Images">
                        <input type="submit" class="btn btn-dark btn-lg">
                    </form>
                    <!-- <form method="POST">
                        <fieldset>
                            <div class="form-group">
                                <label>Images</label>
                                    <select class="form-control" name="Images">
                                        <option>Checkin</option>
                                        <option>Protools</option>
                                        <option>Propresenter</option>
                                        <option>Usermac</option>
                                        <option>Smaart</option>
                                        <option>Lighting</option>
                                    </select>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                    </form> -->
                    </p>
                  </div>

    </div>
</div>

{{template "footer"}}